/* Estilos Generales */
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

.header {
    margin-top: 50px;
    margin-bottom: 50px;
    color: #C1272D;
}

.header h1 {
    font-size: 48px;
    border: 3px solid #C1272D;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 25px;
}

/* Estilo para el botón 'Volver' */
.button-back {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #fff;
    color: #C1272D;
    font-weight: bold;
    font-size: 18px;
    border: 2px solid #C1272D;
    border-radius: 15px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-back:hover {
    background-color: #C1272D;
    color: white;
}

/* Estilos de Botones */
.button, .sub-button {
    background-color: #C1272D;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 15px 30px;
    font-size: 18px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover, .sub-button:hover {
    background-color: #A2202C;
}

.buttons-container {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.sub-menu {
    display: none;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
